p, b, a {
    color: #fff;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    background-color: #212121;
    margin: 0 auto;
    z-index: auto;
}

.header  {
    width: 100%;
    height: 100vh;
    background-image: url("background/bg_unicoder.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.header p {
    font-size: 14px;
}

.header b {
    font-size: 40px;
}

.header_text {
    width: 100%;
    height: 200px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}

.btn_open_page {
    color: #212121;
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #FF9900;
    border: transparent;
    border-radius: 5px;
}

.btn_open_page:hover {
    transition: all 0.3s ease;
    background-color: #212121;
    color: #fff;
}

/*-------------------------------------------------------------
-------------------------PAGE 2--------------------------------
---------------------------------------------------------------*/

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container b {
    color: #FF9900;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.item_content {
    height: 65%;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.item {
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-align: center;
}

.item p {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 32px;
}

.item:nth-child(1){
    order: 1;
    width: 100%; height: 100%;
    background-image: url("img/content_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item:nth-child(2){
    order: 2;
    width: 5%;
    height: 100%;
}

.item:nth-child(3){
    order: 3;
    width: 100%; height: 100%;
    background-image: url("img/content_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item:nth-child(4){
    order: 4;
    width: 5%;
    height: 100%;
}

.item:nth-child(5){
    order: 5;
    width: 100%; height: 100%;
    background-image: url("img/content_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


#mail {
    background-color: #3E3E3E;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mail p {
    color: #fff;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
}